body{
    background-color: #FFEFE8;
    color: black;
    padding: 15% 5% 5% 5%;
}
header{
    color: #637E76;
}
h2{
    color: #C69774;
}
ul{
    margin: 10px;
}
ul li{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
ol{
    margin: 10px;
}
ol li{
    margin-bottom: 7px;
}
img{
    float: left;
    margin: 20px;
    /* !Temporary while editing layout */
    display: none;
}
footer{
    background-color: #637E76;
    color: white;
    padding: 20px;
    margin-top: 150px;
}
footer h2{
    color: #F8DFD4;
}
.flex-container{
    display: flex;
    justify-content: flex-start;
}
.flex-element{
    width: 50%;
}
.ingredients{
    background-color: #F8DFD4;
    max-width: 200px;
}